# {{name}}
snippet {
	{{${1}}}

# {{#…}}section{{/…}}
snippet #
	{{#${1}}}
	  ${2}
	{{/${3}}}

# {{^…}}inverted_section{{/…}}
snippet ^
	{{^${1}}}
	  ${2}
	{{/${3}}}

# {{& escaped}}
snippet &
	{{& ${1}}}

# {{> partial}}
snippet >
	{{> ${1}}}

# {{#if ...}}section{{/if}
snippet #if
	{{#if ${1}}}
	  ${2}
	{{/if}}

# {{#if ...}}section{{/if}
snippet #ife
	{{#if ${1}}}
	  ${2}
	{{else}}
	{{/if}}
